body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
  }

  .timer{
    float: right;
  }


/* used to hide certain parts of the page */
  .hide {
    display: none;
}

div {
    font-size: 18px;
}